

.count-title {
    font-size: 50px;
    font-weight: normal;

	  text-align: center;
	  font-weight: bold;
    color: #fff;
}

.stats-text {

	  color: #fff;

	  font-weight: bold;
}

.stats-line-black {
	margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #fff;
}
