AddDefaultCharset UTF-8
RewriteEngine on

RewriteRule (fr|ru)$ /?$1=1 [L]
RewriteRule ^(intro|authors|about|dict|experiment|help)$ /?page=$1 [L]
RewriteRule ^(authors3|about3|dict3|help3)$ /?page=$1 [L]
RewriteRule ^(authors4|about4|dict4|help4)$ /?page=$1 [L]
RewriteRule ^(authors5|about5|dict5|help5)$ /?page=$1 [L]
RewriteRule ^(authorsj|aboutj|helpj)$ /?page=$1 [L]
RewriteRule ^(authorsj1|aboutj1|helpj1)$ /?page=$1 [L]
RewriteRule ^dictright$ /?page=dict&dict=right [L]
RewriteRule ^dictback$ /?page=dict&dict=back [L]
RewriteRule ^dictlist$ /?page=dict&dict=list&tt=12 [L]
RewriteRule ^dictlist12$ /?page=dict&dict=list&tt=12 [L]
RewriteRule ^dictlist33$ /?page=dict&dict=list&tt=33 [L]
RewriteRule ^dictlist35$ /?page=dict3&dict=list&tt=35 [L]
RewriteRule ^dictright35$ /?page=dict3&dict=right&tt=35 [L]
RewriteRule ^dictback35$ /?page=dict3&dict=back&tt=35 [L]
RewriteRule ^dictlist4$ /?page=dict&dict=list&tt=37 [L]
RewriteRule ^dictright4$ /?page=dict4&dict=right&tt=37 [L]
RewriteRule ^dictback4$ /?page=dict4&dict=back&tt=37 [L]
RewriteRule ^dictlist5$ /?page=dict&dict=list&tt=38 [L]
RewriteRule ^dictright5$ /?page=dict4&dict=right&tt=38 [L]
RewriteRule ^dictback5$ /?page=dict4&dict=back&tt=38 [L]
RewriteRule ^joint$ /?page=joint&dict=right [L]
RewriteRule ^rjoint$ /?page=joint&dict=right [L]
RewriteRule ^bjoint$ /?page=joint&dict=back [L]
RewriteRule ^joint1$ /?page=joint1&dict=right [L]
RewriteRule ^rjoint1$ /?page=joint1&dict=right [L]
RewriteRule ^bjoint1$ /?page=joint1&dict=back [L]


